

<!-- string interpolation techinque -->
<p>{{subjectName}} : {{title}}</p>
<p>{{getCustomerName()}}</p>
<p>{{getManagerDetails()}}</p>


<!-- Property data binding -->


<input type ="text" value="Admin"/>
<input type="text" [value]="customerRole" />
Male or Female ?: <input [type]="inputtype" />
<!-- <input type="checkbox" /> -->
<a [href]="linkName">Misard Link</a>
<!-- <img [src] ="imagesource"/> -->


a
<!--Button click , mouse over , mouse leave , key press-->
<button (click)="evtClick();evt2Clikc()">Click</button>
<p (mouseover)="evtMouseOver()">{{subjectName}} and {{title}}</p>


<!-- $event use case : you can get the element details  -->

<p (mouseover)="evtMouseOver_1('Madan')">
    {{subjectName}} and {{title}}</p>



<!-- <p (mouseover)="evtMouseOver_2($event)">
    Third Paragraph</p> -->

<!-- 
 <p (click)="evtPKeyEvent($event)">
    fourth Paragraph</p>  -->


<input
 type="text" 
(keyup)="evtKeyEvent($event)"
>
  




