
<!-- <input [value]="customerRole" />
<a     [href]="linkName">Misard Link</a>
<select [value]="RoleId">
    <option value="1">Admin</option>
    <option value="2">Non-Admin</option>
</select>

<br> -->


<!-- <input  
[ngModel]="customerRole" 
(ngModelChange)="evtngModelChange($event)" />

<p>{{customerRole}}</p> -->

<!-- [(ngModel)] =  [ngModel] + (ngModelChange) -->


<input [(ngModel)]="SubjectName">
<p>{{SubjectName}}</p> 
<p>{{SubjectName}}</p> 
<p>{{SubjectName}}</p> 
<h1>{{SubjectName}}</h1>




<!-- 
<span>{{customerRole}}</span> -->


<!-- <a      [ngModel]="linkName">Misard Link</a>
<select [ngModel]="RoleId">
    <option value="1">Admin</option>
    <option value="2">Non-Admin</option>
</select> -->

<!-- 
<input type="text" [value]="customerRole" (keypress)="_______" />
 -->


 <!-- Directive : which is useful to add behaviour of the element -->
